// app global css in SCSS form
@font-face {
  font-family: icomoonFont;
  src: url(../assets/fonts/mulish-cufonfonts/Mulish-Bold.ttf);
}

h2,
h4,
h5,
label {
}
.menu-title {
  font-family: "icomoonFont";
}
